/* font-family: eckmannpsych-small, sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: roc-grotesk, sans-serif;
font-weight: 300;
font-style: normal; */

/* font-family: 'ff-carina', sans-serif;
font-size: 50px;
font-weight: 900; */

body {
  max-width: 375px;
  margin: auto;
  }


body p {
  max-width: 375px;
  text-align: center;
  padding: 30px;
  margin: 5px;
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 50px;
  margin: 30px;
}


header img {
  position: fixed;
  position: sticky; 
  top: 0;
}

h1 {
  text-align: center;
  font-family: 'ff-carina', sans-serif;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 150px;
  
}

.collage-50s {
  background-color: white;
  background-image: url(../img/pattern50.png);
  background-repeat: no-repeat;
  background-size: 375px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 0px;
  }
  
  .sentence { 
  width: 200px;
  transform: translateX(0px);
  transform: translateY(-50px);
  }
  
  .singer {  
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px;
  margin: 0;
  }

img {
  margin-left: 0px;
}


